* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: gray;
}
.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  background-color: white;
  width: 400px;
  height: 400px;
  margin: 10px;
  border-radius: 15px;
}

.car-image {
  background-color: aqua;
  height: 150px;
  background-size: cover;
  border-radius: 15px 15px 0 0;
  margin-bottom: 15px;
}

.car-1 {
  background-image: url("../../cards/car1.jfif");
}

.car-2 {
  background-image: url("../../cards/car2.jfif");
}

.car-3 {
  background-image: url("../../cards/car3.jfif");
}

.card h2 {
  text-align: center;
  padding: 10px;
}

.card p {
  padding: 10px;
}

.card a {
  background-color: black;
  color: white;
  padding: 15px 20px;
  margin: 20px 40px;
  display: block;
  text-align: center;
}

.card:hover {
  cursor: pointer;
  background-color: blue;
  color: white;
  transition: all 1s ease-in-out;
  transform: scale(1.1);
}
